input {
    max-width: 100% !important;
}

#loading_spinner_background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.loading-add-opacity {
    opacity: 0.5;
}

#overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    background-color: black;
    opacity: 0.3;
}

#loading_spinner_bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

#loading_spinner {
    width: 4rem;
    height: 4rem;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* SIDE NAV START */
.side-nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
    font-size: 0.9rem;
    font-family: "Poppins";
    /*border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;*/
    /*border-radius: 2%;*/
    overflow: hidden;
    width: 300px;
}

.nav-tab {
    text-decoration: none;
    font-size: 1.2em;
}

.nav-tab a {
    text-decoration: none;
    color: inherit;
    background: none; /* Removes any background color */
    border: none; /* Removes any border */
}

.nav-profile-tab {
    background-color: #141414;
}

.nav-profile-tab p{
    margin: 0px;
}

.profile-pic{
    width: auto;
    height: 60px;
}

.nav-header {
    font-size: 1.5rem;
}

.side-nav-open {
    animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.side-nav-close {
    animation-name: slideout;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    from {
        transform: translateX(-75%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slideout {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-75%);
    }
}


